<div class="panel-body">
  <p>{{councilOne|capitalize}} spends {{absolutePercent| number_format(2, '.', ',')}}% {% if difference < 0 %}<span class="label label-danger label-as-badge">less</span>{% else %}<span class="label label-success label-as-badge">more</span>{% endif %} on {{serviceOne}} than {{councilTwo|capitalize}} does on {{serviceTwo}}</p>
</div>
