{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block title %}{{name}}{% endblock title %}

{% block content %}
<div class="container">

  <h1 class="council-name">{{name}} Council <small>Based on {{spend.count}} records</small></h1>

  {# We put everything inside one row, with multiple sub-rows in the columns for the far panel. TO achieve the layout we want  #}
  <div class="row">
    {# Comparisons panel(s) #}
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Compare {{name}}'s spending with that of other Councils. First, select the council from the dropdown here:</p>

              <select id="council-select" class="form-control">
                <option value="NULL">--Select Council--</option>
                {% for council in councils %}
                <option value="{{council|lower}}">{{council}} Council</option>
                {% endfor %}
              </select>

              <p>Next, select which two services you'd like to compare. We can't do this automatically, unfortunately, because Councils currently classify services
                differently. You can select two that appear similar, and compare the spending.
              </p>

              <div class="row">
                <div class="col-md-6">
                  <select id="serviceOneSelect" class="form-control">
                    {% for service in serviceList %}
                    <option value="{{service}}">{{service}}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-md-6">
                  <select id="serviceTwoSelect" class="form-control">
                    <option>TODO</option>
                  </select>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Missing or Redacted</h3>
            </div>
            <div class="panel-body">
              <p>If a record has information missing or redacted we tag it and list it here in order to highlight it. Information that is missing could simply
                have been misentered, and redactions could have been implemented to protect individual privacy. The alternative is that our code
                doesn't work... which simply isn't the case ;-).
              </p>

              <p>
                Here we simply note records without information associated with them.
              </p>

              <a role="button" data-toggle="collapse" href="#offenders-table">Expand / Collapse</a>

              <table class="table table-hover collapse" id="offenders-table">
                <thead>
                  <tr>
                    <th>Vendor</th>
                    <th>Value</th>
                    <th>Service</th>
                    <th>Reference</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  {% for record in offenders %}
                    <tr>
                      <td>{{record.vendor}}</td>
                      <td>£{{record.value|number_format(2, '.', ',')}}</td>
                      <td>{{record.service}}</td>
                      <td>{{record.reference}}</td>
                      <td>{{record.description}}</td>
                    </tr>
                  {% endfor %}
                </tbody>

              </table>

            </div>
          </div>
        </div>
      </div>


    </div>

    {# Column of various bits of data (this is where the charts live) #}
    <div class="col-md-4">

      {# Spending Numbers #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Spending Info</h3>
            </div>
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Info</th>
                    <th>Amount</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Total Spend</td>
                    <td>£{{spend.total|number_format(2, '.', ',')}}<td>
                  </tr>

                  <tr>
                    <td>Largest Spend</td>
                    <td>£{{spend.largest|number_format(2, '.', ',')}}</td>
                  </tr>

                  <tr>
                    <td>Smallest Spend</td>
                    <td>£{{spend.smallest|number_format(2, '.', ',')}}</td>
                  </tr>

                  <tr>
                    <td>Average Spend</td>
                    <td>£{{spend.average|number_format(2, '.', ',')}}</td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>

      {# Category spread (doughnut chart) #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Spending via Service</h3>
            </div>
            <div class="panel-body">
              <canvas id="test-doughnut"></canvas>

              <a role="button" data-toggle="collapse" href="#service-table">Expand / Collapse</a>
              <table id="service-table" class="table table-hover collapse">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Spend</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for item in servicemap %}
                    <tr>
                      <td>{{item.name}}</td>
                      <td>£{{item.value|number_format(2, '.', ',')}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {# Spend via Vendor #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Top {{vendors.n}} Vendors by Frequency</h3>
            </div>
            <div class="panel-body">
              <canvas id="test-spending"></canvas>
              <a role="button" data-toggle="collapse" href="#frequentVendorsTable">Expand / Collapse</a>
              <table class="table table-hover collapse" id="frequentVendorsTable">
                <thead>
                  <tr>
                    <th>Vendor Name</th>
                    <th>No. of Payments</th>
                  </tr>
                </thead>
                <tbody>
                  {% for vendor in vendors.byFrequency %}
                  <tr>
                    <td>{{vendor.name}}<td>
                      <td>{{vendor.value}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {# Payments #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Top {{vendors.n}} Vendors by Payment Total</h3>
            </div>
            <div class="panel-body">
              <canvas id="top-vendors-cost-chart"></canvas>
              <a role="button" data-toggle="collapse" href="#costVendorsTable">Expand / Collapse</a>
              <table class="table table-hover collapse" id="costVendorsTable">
                <thead>
                  <tr>
                    <th>Vendor Name</th>
                    <th>Total Paid to Vendor</th>
                  </tr>
                </thead>

                <tbody>
                  {% for vendor in vendors.byCost %}
                  <tr>
                    <td>{{vendor.name}}</td>
                    <td>£{{vendor.value|number_format(2, '.', ',')}}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>



    </div>

  </div>
</div><!-- End container -->


<script type="text/javascript" src="{{asset('/js/chart-js/Chart.js')}}"></script>

<script type="text/javascript" src="{{asset('/js/councilFunctions.js')}}"></script>

<script type="text/javascript">
 var ctx = document.getElementById("test-doughnut").getContext("2d");


var newData = [ {% for item in servicemap %} {value:{{item.value}}, color:getRandomColor(), label:"{{item.name|raw}}" }, {% endfor %} ];


 var chart = new Chart(ctx).Pie(newData);


 vendorLabels = [];
 vendorData = [];
 {% for vendor in vendors.byFrequency %}
 vendorLabels.push("{{vendor.name}}".split(' ')[0]);
 vendorData.push({{vendor.value}});
 {% endfor %}

 ctx = document.getElementById("test-spending").getContext("2d");
 data = {
    labels: vendorLabels,
    datasets: [
        {
            label: "Vendors",
            fillColor: getRandomColor(),
            data: vendorData
        }
    ]
};




var myLineChart = new Chart(ctx).Bar(data);


 vendorLabels = [];
 vendorData = [];
 {% for vendor in vendors.byCost %}
 vendorLabels.push("{{vendor.name}}".split(' ')[0]);
 vendorData.push({{vendor.value}});
 {% endfor %}

ctx = document.getElementById("top-vendors-cost-chart").getContext("2d");

data = {
   labels: vendorLabels,
   datasets: [
       {
           label: "Vendors",
           fillColor: getRandomColor(),
           data: vendorData
       }
   ]
};

var vendorCostChart = new Chart(ctx).Bar(data);

/**
 * Generates a random colour for charting purposes
 */
function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

</script>

{% endblock content %}
