{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block title %}{{name}}{% endblock title %}

{% block content %}
<div class="container">

  <h1 class="council-name">{{name}}</h1>

  {# We put everything inside one row, with multiple sub-rows in the columns for the far panel. TO achieve the layout we want  #}
  <div class="row">
    {# Comparisons panel(s) #}
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Data comparisons go here</p>
        </div>
      </div>
    </div>

    {# Column of various bits of data (this is where the charts live) #}
    <div class="col-md-4">

      {# Spending Numbers #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Spending Info (based on {{spend.count}} records)</h3>
            </div>
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Info</th>
                    <th>Amount</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Total Spend</td>
                    <td>£{{spend.total|number_format(2, '.', ',')}}<td>
                  </tr>

                  <tr>
                    <td>Largest Spend</td>
                    <td>£{{spend.largest|number_format(2, '.', ',')}}</td>
                  </tr>

                  <tr>
                    <td>Smallest Spend</td>
                    <td>£{{spend.smallest|number_format(2, '.', ',')}}</td>
                  </tr>

                  <tr>
                    <td>Average Spend</td>
                    <td>£{{spend.average|number_format(2, '.', ',')}}</td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>

      {# Category spread (doughnut chart) #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Spending Breakdown</h3>
            </div>
            <div class="panel-body">
              <canvas id="test-doughnut"></canvas>

              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Spend</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for item in servicemap %}
                    <tr>
                      <td>{{item.name}}</td>
                      <td>£{{item.value|number_format(2, '.', ',')}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {# Spend by month #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Spending by Month</h3>
            </div>
            <div class="panel-body">
              <canvas id="test-spending"></canvas>

            </div>
          </div>
        </div>
      </div>

      {# Top 3 Vendors #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Frequent Vendors</h3>
            </div>
            <div class="panel-body">
              <canvas id="test-vendor"></canvas>
            </div>
          </div>
        </div>
      </div>

      {# Payments #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Payment charts</p>
            </div>
          </div>
        </div>
      </div>



    </div>

  </div>
</div><!-- End container -->


<script type="text/javascript" src="{{asset('/js/chart-js/Chart.js')}}"></script>

<script type="text/javascript">
 var ctx = document.getElementById("test-doughnut").getContext("2d");
 var data = [
    {
        value: 300,
        color:getRandomColor(),
        label: "Adult Social Care"
    },
    {
        value: 150,
        color: getRandomColor(),
        highlight: "#5AD3D1",
        label: "Regional Growth Fund"
    },
    {
        value: 100,
        color: getRandomColor(),
        highlight: "#FFC870",
        label: "Children's and Educational Services"
    }
];

var newData = [ {% for item in servicemap %} {value:{{item.value}}, color:getRandomColor(), label:"{{item.name}}" }, {% endfor %} ];


 var chart = new Chart(ctx).Pie(newData);

 ctx = document.getElementById("test-spending").getContext("2d");
 data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

var myLineChart = new Chart(ctx).Line(data);

 ctx = document.getElementById("test-vendor").getContext("2d");

 data = data = {
    labels: ["ACOMB COURT CARE HOME", "ABBEYFIELD NORTH", "ACTION FOR CHILDREN SERVICES LTD"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 90]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40]
        }
    ]
};

var myRadarChart = new Chart(ctx).Radar(data);

/**
 * Generates a random colour for charting purposes
 */
function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

</script>

{% endblock content %}
