{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block title %}A. Charity | Accountable (Mock-Up Page){% endblock title %}

{% block content %}
<div class = "container">
  <h1>A. Charity <small><a href="http://www.notawebsite.com/">http://www.notawebsite.com/</a></h1>


  <div class = "row">

    <!-- Description Panel -->
    <div class="col-md-8">
      {{include('MrshllSiteBundle:Page/Org:descriptionPanel.html.twig')}}
    </div>

    <!-- At a glance panel -->
    <div class="col-md-4">
      {{include('MrshllSiteBundle:Page/Org:glancePanel.html.twig')}}
    </div>

  </div> <!-- End row -->

  <div class="row">
    <h2>Projects</h2>

    <!-- Project Panel -->
    <div class="col-md-12">
      {{include('MrshllSiteBundle:Page/Org:projectPanel.html.twig')}}
    </div>


  </div> <!-- End row -->


  <div class="row">

    <!-- Funding panel -->
    <div class="col-md-4">
      {{include('MrshllSiteBundle:Page/Org:fundingPanel.html.twig')}}
    </div>

    <!-- Download panel/form/thing -->
    <div class="col-md-4 col-md-offset-4">
      {{include('MrshllSiteBundle:Page/Org:downloadPanel.html.twig')}}
    </div>

  </div><!-- End Row -->




</div> <!-- End container -->
{% endblock content %}
